.slider_bg {
  background-image: url(../assets/hero/hero1.png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 12px;
}

.group_bg1 {
  background-image: url(../assets/hero/hero2.png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 12px;
}
.group_bg2 {
  background-image: url(../assets/hero/hero3.png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 12px;
}
